@page "/login"

<PageTitle>Identifique-se</PageTitle>

<h1>Identifique-se</h1>
<div class="row">
    <div class="col-md-12">
        <section>

            <EditForm Model="Model" method="post" OnValidSubmit="LoginUser" FormName="login">

                <DataAnnotationsValidator />

                <div class="form-floating mb-3">

                    <InputText type="password" @bind-Value="Model.Password" class="form-control"
                        autocomplete="current-password" placeholder="contraseña" />

                    <label for="password" class="form-label">Contraseña</label>

                    <ValidationMessage For="() => Model.Password" class="text-danger" />

                    <span class="text-danger">@ErrorMessage</span>
                </div>

                <div>
                    <button type="submit" class="w-100 btn btn-lg btn-primary">Entrar</button>
                </div>
            </EditForm>
        </section>
    </div>

</div>

@code {
    @inject ILogger<Login> Logger

    @using System.ComponentModel.DataAnnotations
    @inject BitzArt.Blazor.Auth.IUserService _userService

    [SupplyParameterFromForm]
    private Dominio.Auth.SignIn Model { get; set; } = new();
    private string ErrorMessage { get; set; }

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    public async Task LoginUser()
    {
        var response = await _userService.SignInAsync(Model);

        if (response.IsSuccess)
        {
            if (string.IsNullOrEmpty(ReturnUrl))
                ReturnUrl = "/";

            _navigation.NavigateTo(ReturnUrl, true);
            return;
        }

        ErrorMessage = "Senha incorreta";
        Model.Password = string.Empty;
    }
}
