@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>

        <footer class="d-flex justify-content-center border-top mt-4">
            <div class="mt-4">
                <i class="bi bi-robot"></i>
                Load with @(OperatingSystem.IsBrowser() ? "WASM" : "SERVER")
            </div>
        </footer>

    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
