@page "/gastos/form/{Id:int?}"
@attribute [Authorize]

<PageTitle>
    @Titulo
</PageTitle>

<h1>
    <i class="bi bi bi-coin"></i>
    @Titulo
</h1>

<hr />

<EditForm method="post" Model="Model" OnValidSubmit="Save" FormName="form" Enhance>

    <DataAnnotationsValidator />

    <input type="hidden" name="Gasto.Id" value="@Id" />

    <div class="mb-3">
        <label for="Fecha" class="form-label">Fecha</label>
        <InputDate id="Fecha" @bind-Value="Model.Fecha" class="form-control" />
        <ValidationMessage For="() => Model.Fecha" class="text-danger" />
    </div>

    <div class="mb-3">
        <label for="CategoriaId" class="form-label">Categoria</label>
        <InputSelect class="form-select" @bind-Value="Model.CategoriaId">
            <option value=''>Selecione</option>

            @foreach (var cat in Categorias)
            {
                <option value='@cat.Id'>@cat.Nombre</option>
            }

        </InputSelect>
        <ValidationMessage For="() => Model.CategoriaId" class="text-danger" />
    </div>

    <div class="mb-3">
        <label for="Nombre" class="form-label">Nombre</label>
        <InputText id="Nombre" @bind-Value="Model.Nombre" class="form-control" />
        <ValidationMessage For="() => Model.Nombre" class="text-danger" />
    </div>

    <div class="mb-3">
        <label for="Valor" class="form-label">Real</label>
        <InputNumber class="form-control" @bind-Value="Model.Valor" @bind-Value:format="F2" @oninput="UpdateGuarani" />
        <ValidationMessage For="() => Model.Valor" class="text-danger" />
    </div>

    <div class="mb-3">
        <label for="Valor" class="form-label">Guarani</label>
        <InputNumber class="form-control" @bind-Value="Guarani" @oninput="UpdateReal" />
    </div>

    <div class="d-flex justify-content-end">

        <a href="/gastos" class="btn btn-secondary">
            <i class="bi bi-arrow-left"></i>
            Voltar
        </a>

        <button type="submit" class="btn btn-primary ms-2" disabled="@disableButton">

            @if (disableButton)
            {
                <div class="d-flex align-items-center">
                    <div class="spinner-border text-primery me-2" role="status">
                        <span class="visually-hidden">Cargando...</span>
                    </div>
                    <span> Cargando...</span>
                </div>
            }
            else
            {
                <span>
                    <i class="bi bi-check-circle"></i> Salvar Gasto
                </span>
            }
        </button>

    </div>


</EditForm>


@code {

    public string Titulo => Id != 0 ? "Editar Gasto" : "Criar Gasto";
    public const decimal Cambio = 1300;
    public bool disableButton = false;
    public decimal? Guarani { get; set; }

    [Parameter]
    public int Id { get; set; }

    [SupplyParameterFromForm]
    public Gasto Model { get; set; } = new();


    public List<Categoria> Categorias { get; set; } = new();

    public void UpdateGuarani(ChangeEventArgs e)
    {
        var input = e.Value.ToString();

        if (string.IsNullOrEmpty(input))
        {
            Guarani = null;
            return;
        }

        var real = Convert.ToDecimal(input);
        Guarani = real * Cambio;
        Console.WriteLine($"UpdateGuarani Real {real} Guarani {Guarani}");
    }

    public void UpdateReal(ChangeEventArgs e)
    {
        var input = e.Value.ToString();

        if (string.IsNullOrEmpty(input))
        {
            Model.Valor = 0;
            return;
        }

        var guarani = Convert.ToDecimal(input);

        if (guarani < Cambio)
            return;

        Model.Valor = Math.Round(guarani / Cambio, 0);

        Console.WriteLine($"UpdateReal Real {Model.Valor} Guarani {guarani}");
    }


    protected override async Task OnInitializedAsync()
    {
        Categorias = await _categoriasService.ListAll();

        if (Id > 0)
        {
            Model = await _gastosService.Get(Id);
            Guarani = Model.Valor * Cambio;
        }
    }

    public async Task Save()
    {
        disableButton = true;
        await _gastosService.Upsert(Model);
        _navigation.NavigateTo("/gastos");
    }
}
